#Enviroment

YII_DEBUG = TRUE
YII_ENV = DEV

#DATABASE
DB_HOST = localhost
DB_Name = yii2-blog
DB_USERNAME = root
DB_PASSWORD =
DB_PORT = 3306
DB_CHARSET = utf8mb4

#APP KEY

COOKIE_VALIDATION_KEY = 




