#Enviroment

YII_DEBUG = TRUE
YII_ENV = DEV

#DATABASE
DB_HOST = localhost
DB_NAME = yii2-blog
DB_USERNAME = root
DB_PASSWORD =
DB_PORT = 3306
DB_CHARSET = utf8mb4

#APP KEY

COOKIE_VALIDATION_KEY =

#R2
R2_ACCOUNT_ID =
R2_ACCESS_KEY_ID =
R2_SECRET_ACCESS_KEY =
R2_BUCKET_NAME =
R2_ENDPOINT =
R2_PUBLIC_URL =

#AI WORKER
CF_ACCOUNT_ID =
CF_API_TOKEN =
CF_AI_MODEL =


